/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #f0faff;
}



:root {
  --primary-color: #4a98f7;
  --secondary-color: #f9f9f9;
  --text-color: #333;
  --bg-color: #f0faff;
}



/* navigation bar */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: #4a98f7;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav .logo {
  font-size: 22px;
  font-weight: 500;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}


/*  search reusult */


 /* Popup Styles */
 .search-results {
    display: none; /* Hidden by default */
    position: fixed;
    top: 10%; /* Position below the search box */
    left: 1%;
    width: calc(70% - 15px); /* Match the width of the search box */ 
    background-color: #fff;
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    border-top: none; /* Remove top border */
    box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.447);
    z-index: 10; /* Ensure it's above other content */
    max-height: 400px; /* Set a maximum height */
    overflow-y: auto; /* Add a scrollbar if needed */
    

}

.search-results a {
    display: block; /* Make each result a block element */
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.search-results a:hover {
    background-color: #f0f0f0;
}

.search-results.show {
    display: flex; /* Show the popup */
    flex-wrap: wrap;
    justify-content: space-around;
}

.search-card {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background: #f8f8f8;
    padding: 10px;
    border-radius: 6px;
    transition: 0.3s;
    width: 30%;
    margin: 10px;
}

.search-card:hover {
    background: #e0e0e0;
}

.search-card img {
    width: 120px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.search-info {
    display: flex;
    flex-direction: column;
}

.search-info h3 {
    font-size: 14px;
    margin: 0;
    color: var(--primary-color);
}

.search-info p {
    font-size: 10px;
    color: #555;
    margin: 2px 0 0;
    text-align: left;
}

@media (max-width: 768px) {
  .search-card {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background: #f8f8f8;
    padding: 10px;
    border-radius: 6px;
    transition: 0.3s;
    width: 40%;
    margin: 10px;
}

  .search-card img {
    width: 100%;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}


 /* Popup Styles */
 .search-results {
  display: none; /* Hidden by default */
  position: fixed;
  top: 20%; /* Position below the search box */
  left: 1%;
  width: calc(80% - 22px); /* Match the width of the search box */ 
  background-color: white;
  border: 3px solid var(--primary-color);
  border-radius: 10px;
  padding: 10px;
  border-top: none; /* Remove top border */
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.447);
  z-index: 10; /* Ensure it's above other content */
  max-height: 400px; /* Set a maximum height */
  overflow-y: auto; /* Add a scrollbar if needed */

}

}



/* ------------------------------------------------------------------------ */










/* achievement */


.achievement {
    margin-top: 10%;
    display: flex;
    gap: 20px; /* Spacing between boxes */
    justify-content: center; /* Center horizontally */
    transform: scale(0.9);
}

.achievement .box {

    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    text-align: center; /* Center content */
    width: 20%; /* Fixed width for equal boxes */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth animation */
    
}
.achievement .box:hover{
    transform: scale(1.05); /* Scale up slightly on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* More prominent shadow on hover */
}


.achievement .icon {
    font-size: 28px; /* Adjust icon size */
    margin-bottom: 10px;
    color: #3498db; /* Example blue color - customize */
    width: 20%;
}

.achievement #lab{
    text-align: left;
    width: 70%;
}


.achievement .count {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333; /* Dark gray text */
}

.achievement .label {
    font-size: 14px;
    color: #666; /* Slightly lighter gray */
}

/* Responsive Design - Adjust breakpoint as needed */
@media (max-width: 768px) {
    .achievement {
        margin-top: 20%;
        display: flex;
        flex-wrap: wrap; /* Wrap boxes to next line */
        flex-direction: row; /* Stack boxes vertically */
        align-items: center; /* Center horizontally */
        gap: 5px; /* Reduce gap between stacked boxes */
    }
    .achievement .box {
        width: 45%; /* Make boxes take full width */
        margin: 0 auto; /* Center the boxes */
    }
}






/* ----------------------------------------------------------------------------------- */


















/* courses */




.courses-container {
    max-width: 100%;
    padding: 10px;
    justify-content: center;
}

.courses-container h1 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
}
.courses-container  p {
    text-align: center;
    margin-bottom: 20px;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter {
    padding: 10px 20px;
    border: none;
    background-color: #eee;
    color: #333;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.filter.active {
    background-color: #3498db;
    color: white;
}

.courses {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    grid-gap: 20px;
    transform: scale(0.8);
}

.course {
    cursor: pointer;
    max-height: max-content;
    text-align: left;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 22%; /* 4 courses per row */
}
.course:hover {
    transform: scale(1.02);
}

.course img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.course-level {
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    margin-bottom: 10px;
    display: inline-block; /* Prevents it from taking full width */
}

.course-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: left;
}

.course-description {
    color: #666;
    margin-bottom: 10px;
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis (...) */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Show only 3 lines */
    -webkit-box-orient: vertical;
    font-size: 12px;
    text-align: left;
}

.course-rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.course-rating i {
    color: gold;
    margin-right: 5px;
}

.course-info {
    display: flex;
    justify-content: space-between;
    align-items: left;
    font-size: 10px;
}
.course-info span {
    color: #666;
}

.course-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 10px;
    
}
.course-footer i {
    cursor: pointer;
    color: #666;
    transition: color 0.3s;
}
.course-footer i:hover {
    color: #333;
}



/* Responsive Design - Adjust breakpoint as needed */
@media (max-width: 768px) {


    .courses-container {
        max-width: 100%;
        padding: 10px;
        justify-content: center;
    }
    
.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.filter {
    padding: 10px 20px;
    border: none;
    background-color: #eee;
    color: #333;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;

}

.filter.active {
    background-color: #3498db;
    color: white;
}


    .courses {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        grid-gap: 20px;
        transform: scale(0.99);
    }

    .course {
        width: 45%; /* 2 courses per row */
    }

    .course-title {
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 12px;
      text-align: left;
  }


}


/* ----------------------------------------------------------------------------------- */








/* instructor lesson ------------------------------------ */



.instructor-section {
  position: relative;
  background-color: #12A8C3;
  color: white;
  padding: 20px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: max-content;
  transform: scale(0.9);
  margin-left: 20%;
}
.instructor-section .content h2 {
  margin: 0;
  font-size: 14px;
}
.instructor-section .content p {
  margin: 10px 0;
  font-size: 12px;
}
.btn {
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
  font-size: 10px;
}
.btn:hover {
  background: transparent;
  color: white;
}
.floating-circle {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  animation: float 4s infinite alternate ease-in-out;
}
@keyframes float {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}



/* Responsive Design - Adjust breakpoint as needed */
@media (max-width: 768px) {

  .instructor-section {
    position: relative;
    background-color: #12A8C3;
    color: white;
    padding: 20px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: max-content;
    transform: scale(0.9);
    margin-left: 2%;
  }


}




/* ------------------------------------------------------- -------------------------------------------------------------*/











/* --------------------------------------------------- courses trending ----------------------------------------------------------- */





.containerCourse {
  width: 100%;
  transform: scale(0.8);
   align-items: center;
 }

 .containerCourse #trending{
   color: var(--primary-color);
 }
 .slider-wrapper {
   position: relative;
 }
 .slider-wrapper .slide-button {
   position: absolute;
   top: 50%;
   outline: none;
   border: none;
   height: 50px;
   width: 50px;
   z-index: 5;
   color: #fff;
   display: flex;
   cursor: pointer;
   font-size: 2.2rem;
   background: #000;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   transform: translateY(-50%);
 }
 .slider-wrapper .slide-button:hover {
   background: #404040;
 }
 .slider-wrapper .slide-button#prev-slide {
   left: -25px;
   display: none;
 }
 .slider-wrapper .slide-button#next-slide {
   right: -25px;
 }
 .slider-wrapper .image-list {
   display: grid;
   grid-template-columns: repeat(10, 1fr);
   gap: 18px;
   font-size: 0;
   list-style: none;
   margin-bottom: 30px;
   overflow-x: auto;
   scrollbar-width: none;
 }
 .slider-wrapper .image-list::-webkit-scrollbar {
   display: none;
 }
 .slider-wrapper .image-list .course-card {
   width: 325px;
   height: max-content;
   
 }
 .containerCourse .slider-scrollbar {
   height: 24px;
   width: 100%;
   display: flex;
   align-items: center;
 }
 .slider-scrollbar .scrollbar-track {
   background: #ccc;
   width: 100%;
   height: 2px;
   display: flex;
   align-items: center;
   border-radius: 4px;
   position: relative;
 }
 .slider-scrollbar:hover .scrollbar-track {
   height: 4px;
 }
 .slider-scrollbar .scrollbar-thumb {
   position: absolute;
   background: #000;
   top: 0;
   bottom: 0;
   width: 50%;
   height: 100%;
   cursor: grab;
   border-radius: inherit;
 }
 .slider-scrollbar .scrollbar-thumb:active {
   cursor: grabbing;
   height: 8px;
   top: -2px;
 }
 .slider-scrollbar .scrollbar-thumb::after {
   content: "";
   position: absolute;
   left: 0;
   right: 0;
   top: -10px;
   bottom: -10px;
 }
 /* Styles for mobile and tablets */
 @media only screen and (max-width: 1023px) {
   .slider-wrapper .slide-button {
   }
   .slider-wrapper .image-list {
     gap: 10px;
     margin-bottom: 15px;
     scroll-snap-type: x mandatory;
   }
   .slider-wrapper .image-list .course-card {
     width: 280px;
     height: 380px;
   }
   .slider-scrollbar .scrollbar-thumb {
     width: 20%;
   }
 }





 
 .image-list .course-card {
   width: 350px;
   border-radius: 10px;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   background: white;
   font-family: Arial, sans-serif;
 }
 
 .image-list .course-image {
   width: 100%;
   height: 180px;
   object-fit: cover;
 }
 
 .image-list .course-details {
   padding: 15px;
 }
 
 .image-list .tags {
   display: flex;
   gap: 5px;
   margin-bottom: 10px;
 }
 
 .image-list .tag {
   font-size: 12px;
   padding: 5px 10px;
  
   border-radius: 5px;
   color: white;
 }
 
 .image-list .development {
   background: #007bff;
 }
 
 .image-list .level {
   background: #333;
 }
 
 .image-list .course-title {
   font-size: 16px;
   font-weight: bold;
   margin-top: 10px;
   text-decoration: none;
   color: #333;
 }
 .image-list .course-title:hover {
   color: var(--primary-color);
 }
 
 .image-list .rating {
  margin-top: 10px;
   font-size: 14px;
   color: #666;
   display: flex;
   gap: 10px;
   align-items: center;
 }
 
 .image-list .course-info {
   font-size: 14px;
   color: #666;
   display: flex;
   gap: 15px;
   margin-top: 5px;
 }
 
 .image-list .instructor {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-top: 10px;
 }
 
 .image-list .instructor-img {
   width: 30px;
   height: 30px;
   border-radius: 50%;
 }
 
 .image-list .price {
   font-size: 20px;
   font-weight: bold;
   color: green;
   margin-top: 10px;
 }
 







/* ------------------------------------------------------- -------------------------------------------------------------*/















/* --------------------------------------- prsentation ------------------------------------------------------------------ */
#prensentation{
  width: 100%;
  background-color: white;
}
.fullscreen-video {
  width: 100%;
  transform: scale(0.7);
  object-fit: cover;
  position: relative;

}


/* ------------------------------------------------------- -------------------------------------------------------------*/







/*  footer -------------------------- */

footer{
  position: relative;
  background: #140B5C;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer .contentFooter{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .contentFooter .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.contentFooter .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.contentFooter .top .media-icons{
  display: flex;
}
.contentFooter .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: black;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .contentFooter .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .contentFooter .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.contentFooter .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.contentFooter .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.contentFooter .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.contentFooter .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.contentFooter .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #0F0844;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .contentFooter .link-boxes{
    flex-wrap: wrap;
  }
  footer .contentFooter .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .contentFooter .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .contentFooter .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .contentFooter .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .contentFooter .top{
    flex-direction: column;
  }
  .contentFooter .top .media-icons{
    margin-top: 16px;
  }
  footer .contentFooter .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .contentFooter .link-boxes .input-box{
    width: 100%;
  }
}












/* ---------------------------------------------------------------------------------------- */